<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div class="image-container">
        <h1>Images</h1>
        <!-- Placeholder for images -->
        <div id="images-display">
            <div class="image-item">
                <img id="img" src="<%= path %>" alt="User logo">
            </div>
        </div>
    </div>
    <script src="/javascripts/images.js"></script>
</body>
</html>
